:root {
  --main-text-color: #212121;
  --add-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --add-bg-color: #f5f4fa;
  --title-font: "Roboto", sans-serif;
}
/* доп цвета для лого #000  #fff */

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--bg-color);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  color: var(--add-text-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo > .up {
  color: #000;
}
.logo > .down {
  color: #fff;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--add-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav {
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
  background-color: #2f303a;
  text-align: center;
}

.title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type {
  color: var(--add-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.03em;
}

.page-title {
}

.section-title {
}
